* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.calk {
  width: 500px;
  height: 500px;
  background: lightgray;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
      grid-template-areas: "inp inp inp inp inp inp inp inp inp inp inp inp" "ar1 ar1 ar1 ar2 ar2 ar2 ar3 ar3 ar3 ar4 ar4 ar4" "ar5 ar5 ar5 ar6 ar6 ar6 ar7 ar7 ar7 ar8 ar8 ar8" "ar9 ar9 ar9 ar10 ar10 ar10 ar11 ar11 ar11 ar12 ar12 ar12" "ar13 ar13 ar13 ar13 ar14 ar14 ar14 ar14 ar15 ar15 ar15 ar15";
}

.calk .btn {
  width: 60px;
  height: 60px;
  border: 1px solid gray;
  border-radius: 3px;
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  cursor: pointer;
  line-height: 52px;
  font-size: 18px;
  text-align: center;
  background: transparent;
}

.calk button {
  width: 60px;
  height: 60px;
  border: 1px solid gray;
  border-radius: 3px;
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  cursor: pointer;
  line-height: 52px;
  font-size: 18px;
  text-align: center;
  background: transparent;
}

.calk p {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: inp;
  border-radius: 3px;
  margin-bottom: 20px;
  background: #fff;
  font-size: 60px;
  text-align: right;
}

.calk .ar1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: ar1;
}

.calk .ar2 {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-area: ar2;
}

.calk .ar3 {
  -ms-grid-row: 2;
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-area: ar3;
}

.calk .ar4 {
  -ms-grid-row: 2;
  -ms-grid-column: 10;
  -ms-grid-column-span: 3;
  grid-area: ar4;
}

.calk .ar5 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: ar5;
}

.calk .ar6 {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-area: ar6;
}

.calk .ar7 {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-area: ar7;
}

.calk .ar8 {
  -ms-grid-row: 3;
  -ms-grid-column: 10;
  -ms-grid-column-span: 3;
  grid-area: ar8;
}

.calk .ar9 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: ar9;
}

.calk .ar10 {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-area: ar10;
}

.calk .ar11 {
  -ms-grid-row: 4;
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-area: ar11;
}

.calk .ar12 {
  -ms-grid-row: 4;
  -ms-grid-column: 10;
  -ms-grid-column-span: 3;
  grid-area: ar12;
}

.calk .ar13 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: ar13;
  width: 90px;
  line-height: 60px;
}

.calk .ar14 {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-area: ar14;
  width: 90px;
}

.calk .ar15 {
  -ms-grid-row: 5;
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-area: ar15;
  width: 90px;
}
/*# sourceMappingURL=style.css.map */